<!-- client/index.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">


  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
  <link rel="stylesheet" href="./css/App.css"></link>
  <link rel="icon" href="./img/fav.png" type="image/gif" sizes="16x16">

  <title>Coin Stalker</title>
</head>

<body>

  <div id="root"></div>

</body>
<script src="bundle.js"></script>

</html>