.react-autosuggest__container {
  width: 500px;
  height: 500px;
  background: yellow;
  display: flex;
  justify-content: center;
  align-content: center;
}

.react-autosuggest__input>input {
  border-radius: 99%;
  font-size: 44px;
  height: 20%;
  width: 200%;
  padding: 200px;
  position: absolute;
}

.app p {
  color: blue;
}

.input {
  height: 2000px;
  width: 2000px;
  padding: 200px;
  background: red;
}

.react-autosuggest__input--open {
  border-radius: 99%;
  width: 2000px;
  font-size: 44px;
}

.suggestionsContainer {
  background: grey;
}

.suggestion {}